<% if @verbs.empty? %>
  No verbs yet!
<% else %>
  <% @verbs.each do |verb| %>
    <table>
      <% verb.conjugated_verb_pairs.each do |pair| %>
        <tr>
          <% pair.conjugated_verbs.reverse.each do |conjugated_verb| %>
            <td>
              <%= conjugated_verb.conjugation %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  <% end %>
<% end %>
<a href='#'>Add a verb</a>