<% if @verbs.empty? %>
  No verbs yet!
<% else %>
  <% @verbs.each do |verb| %>
    <table>
      <% verb.inflected_words_groups.each do |pair| %>
        <tr>
          <% pair.inflected_words.each do |conjugated_verb| %>
            <td>
              <%= conjugated_verb.word %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  <% end %>
<% end %>
<a href='verbs/new'>Add a verb</a>